

.test {
    padding: 0;
}

.checkout_page {
    background-color: black;
    font-family: 'Antonio';
}

.checkout-form-heading {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
  }
  
  .checkout-form-description {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .checkout-form-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
    padding: 30px;
  }
  
  .checkout-form-col-25 {
    flex: 40%;
    padding: 0px 16px;
  }
  
  .checkout-form-col-50 {
    flex: 50%;
    padding: 0 16px;
  }
  
  .checkout-form-col-75 {
    flex: 60%;
    padding: 0 16px;
  }
  
  .checkout-form-container {
    background-color: #f2f2f2;
    padding: 15px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  .checkout-form-input {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .checkout-form-label {
    margin-bottom: 10px;
    display: block;
  }
  
  .checkout-form-icon-container {
    margin-bottom: 0px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .checkout-form-btn {
    background-color: rgb(255, 239, 159);
    color: black;
    font-family: 'Antonio';
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .checkout-form-btn:hover {
    background-color: rgb(255, 213, 159);
    transition: 0.3s ease-in-out;
  }

  .checkout-form-back-btn {
    box-shadow: none;
    color: #f65654;
    font-family: 'Antonio';
    background: none;
    font-size: 1.7rem;
    border: none;
    cursor: pointer;
    outline: inherit;
    display: flex;
  }
  
  .checkout-form-cart-title {
    font-size: 18px;
  }
  
  .checkout-form-cart-item {
    text-decoration: none;
    color: black;
  }
  
  .checkout-form-price {
    float: right;
    color: grey;
  }
  
  .checkout-form-checkbox-label {
    margin-bottom: 10px;
    display: block;
  }
  
  .checkout-form-divider {
    border: 1px solid lightgrey;
  }
  
  @media (max-width: 800px) {
    .checkout-form-row {
      flex-direction: column-reverse;
    }
    .checkout-form-col-25 {
      margin-bottom: 20px;
    }
  }
  
  .checkout-form-state {
    display: flex;
  }
  .checkout-form-row-state {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
  }

  .cart_img2 {
    width: 35%;
  }

  .price_con2 {
    padding-left: 10px;
    padding-right: 60px;
  }

  .item_details2 {
    padding-left: 10px;
    padding-right: 20px;
  }

  .trash2{
    padding-top: 16px;
    padding-right: 5px;
    padding-left: 0px;
  }

  .trash2:hover{
    color: red;
    transition: ease-in-out;
    cursor: pointer;
  }

  .back_conn {
    padding-top: 1rem;
    font-size: larger;
  }

  .back_shopp {
    box-shadow: none;
    color: white;
    background: none;
    margin-left: 2.5rem;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  .back_shopp:hover {
    box-shadow: none;
    color: white;
    background: none;
    margin-left: 2.5rem;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: rgb(255, 239, 159);
    transition: 0.3s ease-in-out;
  }

  .total-price {
    font-size: 1.5rem;
  }

  .tax {
    font-size: 1.3rem;
  }

  .checkout-form-next-btn {
    box-shadow: none;
    color: #f65654;
    font-family: 'Antonio';
    background: none;
    font-size: 1.7rem;
    border: none;
    cursor: pointer;
    outline: inherit;
    justify-self: right;
    display: flex;
  }
  .checkout-form-next-btn:hover {
    color: #fec37b;
    transition: 0.3s ease-in-out;

  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
  }

  .modal-close-btn {
    margin-top: 15px;
    padding: 10px 25px;
    background-color: #f65654;
    color: white;
    border: none;
    font-size: larger;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Antonio';

  }

  .modal-close-btn:hover {
    background-color: #ce201d;
    transition: 0.3s ease-in-out;
    transform: scale(1.01);
    font-family: 'Antonio';
  }

  .checkout-form-section-heading {
    font-size: 1.5rem;
  }

  .modal-x-button {
    position: relative;
    top: -10px;
    left: 120px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #555;
    cursor: pointer;
  }

  .modal-x-button:hover {
    color: #000;
    transition: 0.3s ease-in-out;
  }
