@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

.members_container {
  display: grid;
  place-items: center;
  font-family: "Antonio", monospace;
  font-weight: 400;
}

.mem_sub_container {
  display: flex;
  justify-content: center;
  height: 450px;
  gap: 10px;

  > div {
    flex: 0 0 140px;
    /*border-radius: 0.5rem;*/
    transition: 0.5s ease-in-out;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    /*box-shadow: 1px 5px 15px rgba(255, 50, 50, 0.8); /* Reddish shadow */

    &:nth-of-type(1) {
      background: url(../assets/Vega.png)
        no-repeat 50% / cover;
    }
    &:nth-of-type(2) {
      background: url(../assets/Kieran.png)
        no-repeat 50% / cover;
    }
    &:nth-of-type(3) {
      background: url(../assets/Lana.png)
        no-repeat 50% / cover;
    }
    &:nth-of-type(4) {
      background: url(../assets/Matt.png)
        no-repeat 50% / cover;
    }

    .content {
      color: #fff;
      display: flex;
      align-items: center;
      padding: 15px;
      opacity: 0;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      background: rgb(2, 2, 46);
      background: linear-gradient(
        0deg,
        rgba(2, 2, 46, 0.6755077030812324) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      transform: translatey(100%);
      transition: opacity 1s ease-in-out, transform 0.8s 0.2s;
      visibility: hidden;

      span {
        display: block;
        margin-top: 5px;
        font-size: 1.5rem;
      }
      .content p {
        font-size: 1.2rem;
      }
    }

    &:hover {
      flex: 0 0 250px;
      transform: translatey(-30px);
      box-shadow: 1px 8px 20px rgba(255, 50, 50, 1); /* Brighter red shadow on hover */
    }

    &:hover .content {
      opacity: 1;
      transform: translatey(0%);
      visibility: visible;
    }
  }
}
