.navbar_container {
  font-family: Antonio, 'Times New Roman', Times, serif;
  font-size: 1rem;
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: rgb(27, 27, 27);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000000;
  height: 12%;
}

.left-tabs,
.right-tabs {
  display: flex;
  justify-content: center;
  flex: 1;
}

.logo-container {
  padding-left: 20px;
}

.logo {
  height: 50px;
  width: auto;
}

.navbar-items {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 60px;
}

.navbar-items.mobile {
  display: block;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: rgb(27, 27, 27);
  width: 100%;
  text-align: center;
  z-index: 1001;
}

.navbar-items h3 {
  font-size: 1.6rem;
  color: white;
  font-weight: 900;
}

.navbar-items h3:hover {
  transition: 0.3s ease-in-out;
  text-shadow: 0 0 8px #de9e2a, 0 0 8px #f5cb7f;
}

.item {
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 20px;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  margin-right: 20px;
}

.hamburger .bar {
  background-color: white;
  height: 3px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

@media (max-width: 1068px) {
  .left-tabs,
  .right-tabs {
    display: block;
    width: 100%;
    text-align: center;
  }

  .logo-container {
    float: left;
    justify-self: left;
    
  }

  .navbar-items {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .navbar-items.mobile {
    display: block;
  }
}
