.menuBar {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
    overflow: hidden; /* Prevent content overflow */
}

.menu_sec {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    z-index: 1;
    color: white;
    font-family: Antonio;
    font-size: larger;
}

.menu_sec::-webkit-scrollbar {
    display: none;
}

.card1 {
    flex: 0 0 400px;
    width: 400px;
    height: auto;
    margin-right: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.card1 img {
    width: 400px;
}

/*.left_arrow, .right_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1000;
}

.left_arrow, .right_arrow {
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 5px;
    left: 0%;
    top: 29%;
    cursor: pointer;
    z-index: 1000;
}
 
.right_arrow {
     left: 94%;
     transform: rotate(180deg);
}*/



.left_arrow, .right_arrow {
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 5px;
    
    top: 40%;
    cursor: pointer;
}

.left_arrow {
    right: 97%;
}
 
.right_arrow {
     left: 97%;
     transform: rotate(180deg);
}